.Container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
}

.HeaderImg {
  height: 450px;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}
